---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CosmeticsRatings.com">
  <main>
    <div class="ovrfl">
      <div class="topbar flt">
        <div class="container bdinpad">
          <p class="topbartxt">
            <span>STOCK UP AND SAVE:</span> GET NECK CREAM <br
              class="show-768"
            />FOR 33% OFF + FREE SHIPPING
          </p>
        </div>
      </div>

      <div class="sec-1 flt">
        <div class="container bdinpad">
          <div class="s-1lft hide-767">
            <div class="s-1lft-bx">
              <div class="s-1lft-top">
                <img src="images/s-1prd.png" alt="" class="s1prd max" />
                <div class="s-1svseal">
                  31%<br />OFF
                </div>
              </div>
              <div class="s-1lft-btm">
                <p class="s-1lft-hd">
                  Ranked #1 Most-Effective Neck&nbsp;Cream of 2022 By My
                  Cosmetics&nbsp;Insider
                </p>
                <img src="images/stars.png" alt="" class="s-1lft-stars" />
                <p class="s-1lft-txt1">Limited Time Offer:</p>
                <p class="s-1lft-txt2">
                  <span class="strikeout">$119.91</span>&nbsp;&nbsp;<span
                    class="span1">$79.94</span
                  >
                </p>
                <p class="s-1lft-txt3">+ FREE SHIPPING</p>
              </div>
            </div>
          </div>
          <div class="s-1rgt">
            <p class="bdfont">
              <strong>“This cream sold out 1X!”</strong> Finally, our best-selling
              neck + décolletage cream is back in stock! For a limited time, you
              can try Fièra’s Multi-Effect Cream for 31% off while supplies last
              - plus get free shipping:
            </p>

            <ul class="s-1rgt-list bdfont">
              <li>Tighten & firm up neck sag</li>
              <li>Lift & sculpt neck without surgery</li>
              <li>Increase collagen production</li>
              <li>Smooth fine lines & wrinkles</li>
              <li>Visibly plump & hydrate skin</li>
            </ul>
            <div class="s-1lft-bx show-767">
              <div class="s-1lft-top">
                <img src="images/s-1prd.png" alt="" class="s1prd max" />
                <div class="s-1svseal">
                  31%<br />OFF
                </div>
              </div>
              <div class="s-1lft-btm">
                <p class="s-1lft-hd">
                  Ranked #1 Most-Effective Neck&nbsp;Cream of 2022 By My
                  Cosmetics&nbsp;Insider
                </p>
                <img src="images/stars.png" alt="" class="s-1lft-stars" />
                <p class="s-1lft-txt1">Limited Time Offer:</p>
                <p class="s-1lft-txt2">
                  <span class="strikeout">$119.91</span>&nbsp;&nbsp;<span
                    class="span1">$79.94</span
                  >
                </p>
                <p class="s-1lft-txt3">+ FREE SHIPPING</p>
              </div>
            </div>
            <div class="s-1btnbx">
              <a href="javascript:void(-2)" class="s1btn orderBtn"
                >See Today’s Deal</a
              >
              <p class="btntxt">28-Day Risk-Free Money-Back Guarantee</p>
            </div>
          </div>
          <div class="clearall"></div>
          <p class="asseen-hding">As seen on</p>
          <img src="images/asseen.png" alt="" class="asseen-img hide-769" />
          <img src="images/asseen-mob.png" alt="" class="asseen-img show-769" />
        </div>
      </div>

      <div class="head-band-1 flt">
        <div class="container bdinpad">
          <p class="bdhding white">
            How Will You Benefit From<br class="hide-769" />
            Multi-Effect Neck + Décolletage Cream?
          </p>
          <p class="bdfont hdtxt white">
            These are some of the most common benefits reported by our
            customers:
          </p>
        </div>
      </div>

      <div class="sec0 flt">
        <div class="container bdinpad">
          <img src="images/s0img.png" alt="" class="s2img max" />
          <div class="s0lft">
            <p class="s0l-hding1">
              <img src="images/s2icon1.png" alt="" class="s2hd-icon1" /> Tighten
              & Firm
            </p>
            <ul class="s0list bdfont">
              <li>Stimulates new collagen production</li>
              <li>Removes dead skin cells</li>
              <li>Unveils new firm, fresh, younger looking skin</li>
            </ul>

            <p class="s0l-hding2">
              <img src="images/s2icon2.png" alt="" class="s2hd-icon2" /> Plump &
              Smooth
            </p>
            <ul class="s0list bdfont">
              <li>Nourishes delicate neck skin</li>
              <li>Boosts hydration and water retention</li>
              <li>Visibly plumps the skin, smooths lines & wrinkles</li>
            </ul>

            <p class="s0l-hding2">
              <img src="images/s2icon3.png" alt="" class="s2hd-icon2" /> Restore
              & Protect
            </p>
            <ul class="s0list bdfont">
              <li>Restores skin’s natural nutrients</li>
              <li>Gives skin its “bounce” back</li>
              <li>Diminishes sagging in jowls & neck</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="head-band-1 flt">
        <div class="container bdinpad">
          <p class="bdhding white">
            A Premium Neck Cream<br class="hide-481" />
            Formulated For Mature&nbsp;Skin
          </p>
          <p class="bdfont hdtxt white">
            Fièra’s Multi-Effect Neck + Décolletage Cream is the skin-tightening
            solution to a loose,<br class="hide-tab" />
            sagging neck, helping women shave years off their perceived age.<br
              class="hide-tab"
            />
            Formulated specifically for the needs of mature skin.
          </p>
        </div>
      </div>

      <div class="sec1 flt" id="order">
        <div class="container bdinpad">
          <div class="pkg-container dsplay position">
            <div class="pkg-1">
              <p class="pkg-1-hd1">Most Popular</p>
              <p class="pkg-1-hd2">Buy 2 Get 1 Free</p>
              <img src="images/pkg-1.png" alt="" class="pkgbtl" />
              <p class="pkg-txt-1">Get <span class="span1">33% OFF</span></p>
              <p class="pkg-txt1">$24.65<span>each</span></p>
              <p class="pkg-txt2">
                TOTAL: $79.94 <br class="show-tab" /><span
                  >NORMALLY $119.91</span
                >
              </p>
              <p class="pkg-txt3"><strong>33%</strong> SAVINGS</p>
              <p class="pkg-txt4">Free shipping</p>
              <a href="<?= $url0; ?>" class="pkgbtn">Buy Now</a>
            </div>
            <div class="pkg0">
              <p class="pkg0-hd1">Best Value</p>
              <p class="pkg0-hd2">Buy 3 Get 2 Free</p>
              <img src="images/pkg0.png" alt="" class="pkgbtl" />
              <p class="pkg-txt-1">Get <span class="span1">44% OFF</span></p>
              <p class="pkg-txt1">$23.98<span>each</span></p>
              <p class="pkg-txt2">
                TOTAL: $119.91 <br class="show-tab" /><span
                  >NORMALLY $199.85</span
                >
              </p>
              <p class="pkg-txt3"><strong>44%</strong> SAVINGS</p>
              <p class="pkg-txt4">Free shipping</p>
              <a href="<?= $url1; ?>" class="pkgbtn">Buy Now</a>
            </div>
            <div class="pkg1">
              <p class="pkg0-hd1">Web Price</p>
              <p class="pkg0-hd2">Buy 1</p>
              <img src="images/pkg1.png" alt="" class="pkgbtl" />
              <p class="pkg-txt-1">Get <span class="span1">25% OFF</span></p>
              <p class="pkg-txt1">$29.98<span>each</span></p>
              <p class="pkg-txt2">
                TOTAL: $29.98 <br class="show-tab" /><span>NORMALLY $39.97</span
                >
              </p>
              <p class="pkg-txt3"><strong>25%</strong> SAVINGS</p>
              <p class="pkg-txt4">Free shipping</p>
              <a href="<?= $url; ?>" class="pkgbtn">Buy Now</a>
            </div>
          </div>

          <p class="s1subhding">
            100% Refund Policy, <br class="show-767" />Try It Risk-Free
          </p>
          <p class="s1txt bdfont">
            Fièra Cosmetics is so confident you’ll love our Multi-Effect Neck +
            Décolletage Cream that we offer a hassle-free <strong
              >28-day money back guarantee</strong
            >. So you can try it risk-free. If for any reason you’re not
            satisfied, we’ll gladly hand you back every penny of your
            investment, no questions asked.
          </p>

          <div class="cardbx">
            <p><span>Guaranteed Safe Checkout</span></p>
            <img src="images/cards.png" alt="" class="cards" />
          </div>
          <ul class="s1list">
            <li><img src="images/s1limg1.jpg" alt="" /></li>
            <li><img src="images/s1limg2.jpg" alt="" /></li>
            <li><img src="images/s1limg3.jpg" alt="" /></li>
            <li><img src="images/s1limg4.jpg" alt="" /></li>
          </ul>
        </div>
      </div>

      <div class="sec2 flt">
        <div class="container bdinpad">
          <p class="bdhding green">Our Benefits</p>
          <p class="bdfont s2txt">
            A non-surgical solution for making even the most stubborn neck areas<br
              class="hide-767"
            />
            look young again to preserve a youthful appearance.
          </p>
          <img src="images/s2img.png" alt="" class="s4bximg show-767" />
          <div class="s2bx dsplay position">
            <ul class="s2bx-list">
              <li>
                <img src="images/s2icon1.png" alt="" />
                <p class="s2bx-lhding">
                  Tightens<br class="hide-767" /> Neck Sag & Jowls
                </p>
                <p class="s2bx-ltxt">
                  Clinically-proven ingredients stimulate collagen & elastin
                  production, helping to firm up, lift, and sculpt sagging skin
                  on the neck and jowls.
                </p>
              </li>
              <li>
                <img src="images/s2icon2.png" alt="" />
                <p class="s2bx-lhding">
                  Hydrates & Reduces<br class="hide-767" /> Crepey Skin
                </p>
                <p class="s2bx-ltxt">
                  Hydrating ingredients like hyaluronic acid & shea butter help
                  naturally moisturize & hydrate the skin, reducing wrinkly,
                  dry-looking crepey skin.
                </p>
              </li>
              <li>
                <img src="images/s2icon3.png" alt="" />
                <p class="s2bx-lhding">
                  Smooths<br class="hide-767" /> Fine Lines & Wrinkles
                </p>
                <p class="s2bx-ltxt">
                  Exfoliate old, dry skin cells while unveiling a new layer of
                  fresh skin for a noticeably smoother, wrinkle-reduced, glowing
                  neck & decolletage.
                </p>
              </li>
              <li>
                <img src="images/s2icon4.png" alt="" />
                <p class="s2bx-lhding">
                  Protects Against <br class="hide-767" />Sun Damage
                </p>
                <p class="s2bx-ltxt">
                  A powerful green tea extract helps protect against UV rays,
                  free radicals and collagen degradation to preserve a youthful
                  appearance.
                </p>
              </li>
              <li>
                <img src="images/s2icon5.png" alt="" />
                <p class="s2bx-lhding">
                  Reduces Appearance<br class="hide-767" /> Of Sun Damage
                </p>
                <p class="s2bx-ltxt">
                  Powerful antioxidant activity helps reduce the appearance of
                  sun damage and free radicals, while giving your skin a more
                  even & glowing tone.
                </p>
              </li>
              <li>
                <img src="images/s2icon6.png" alt="" />
                <p class="s2bx-lhding">
                  Prompts <br class="hide-767" />Cell Turnover
                </p>
                <p class="s2bx-ltxt">
                  Willow bark extract helps prompt cell turnover, allowing your
                  body to exfoliate dry and dull skin even faster to expose
                  fresh, new skin.
                </p>
              </li>
            </ul>
            <img src="images/s2img.png" alt="" class="s4bximg hide-767" />
          </div>
        </div>
      </div>

      <div class="head-band0 flt">
        <div class="container bdinpad">
          <p class="bdhding white">
            Each Application Of<br />
            Multi-Effect Neck Cream Has
          </p>
        </div>
      </div>

      <div class="sec3 flt">
        <div class="container bdinpad">
          <ul class="s3list dsplay bdfont">
            <li>
              <img src="images/s3img1.png" alt="" class="s5limg" />
              <p class="s3lhding">GLYCOLIC ACID</p>
              <p class="s3ltxt">
                Exfoliates dry, dead skin cells, & exposes fresh, tight new skin
                cells
              </p>
            </li>
            <li>
              <img src="images/s3img2.png" alt="" class="s5limg" />
              <p class="s3lhding">SQUALANE</p>
              <p class="s3ltxt">
                Penetrates skin at cellular level to hydrate, plump, & soften
                mature skin
              </p>
            </li>
            <li>
              <img src="images/s3img3.png" alt="" class="s5limg" />
              <p class="s3lhding">Hyaluronic Acid</p>
              <p class="s3ltxt">
                Promotes collagen & elastin production to reduce sagging in
                jowls & neck
              </p>
            </li>
            <li>
              <img src="images/s3img4.png" alt="" class="s5limg" />
              <p class="s3lhding">GLYCERIN</p>
              <p class="s3ltxt">
                A “super moisturizer” that attracts 1000x its weight in water,
                firms skin cells
              </p>
            </li>
            <li>
              <img src="images/s3img5.png" alt="" class="s5limg" />
              <p class="s3lhding">VITAMIN E</p>
              <p class="s3ltxt">
                Assists in various kinds of skin cellular restoration,
                protection, & healing
              </p>
            </li>
            <li>
              <img src="images/s3img6.png" alt="" class="s5limg" />
              <p class="s3lhding">WILLOW BARK EXTRACT</p>
              <p class="s3ltxt">
                Soothes irritated skin, detoxifies pores, & rejuvenates the
                cells
              </p>
            </li>
          </ul>
        </div>
      </div>

      <div class="sec4 flt">
        <div class="container bdinpad">
          <p class="bdhding green">
            Combining <br class="show-481" />Clinically-proven<br
              class="hide-479"
            />
            Ingredients In One
          </p>
          <div class="s4bx dsplay">
            <div class="s4bx-lft">
              <img src="images/s3bx2-prd1.png" alt="" class="s6bxprd max" />
              <p class="s4bx-hding">LEADING COMPETITOR</p>
              <p class="s4bx-txt bdfont">
                Contains chemical additives Contains fragrance<br />
                <strong>Over $98</strong>
              </p>
            </div>
            <div class="s4bx-rgt">
              <div class="vs">VS.</div>
              <img src="images/s3bx2-prd2.png" alt="" class="s6bxprd max" />
              <p class="s4bx-hding">Fièra Multi-Effect Cream</p>
              <p class="s4bx-txt bdfont">
                Clinically-Proven Ingredients Formulated For Mature Skin
                Normally: <span class="span-1">$39.97</span>
              </p>
            </div>
          </div>

          <div class="s-1btnbx s6btnbx">
            <a href="javascript:void(-2)" class="s5btn orderBtn">Shop Now</a>
            <p class="btntxt">28-Day Risk-Free Money-Back Guarantee</p>
          </div>

          <p class="bdhding s4hding green">
            What Our Happy Customers Have To&nbsp;Say
          </p>
          <ul class="s4tlist dsplay">
            <li>
              <img src="images/t-1.png" alt="" class="s6timg" />
              <img src="images/stars.png" alt="" class="s4tstars" />
              <p class="s4tbx-hding">Verified Purchase</p>
              <p class="s4tbx-hding2">“I can tell it’s working, I’m 72”</p>
              <p class="s4tbx-txt1">
                I've only been using the neck cream about three weeks. I can
                tell it is working and my skin feels satiny and smooth. I would
                recommend to anyone. My age is 70.
              </p>
              <p class="s4tbx-txt2">- Judy S.</p>
            </li>
            <li>
              <img src="images/t0.png" alt="" class="s6timg" />
              <img src="images/stars.png" alt="" class="s4tstars" />
              <p class="s4tbx-hding">Verified Purchase</p>
              <p class="s4tbx-hding2">“Visible improvement”</p>
              <p class="s4tbx-txt1">
                I am starting to see visible improvement and a smoother
                appearance. I really like the quality of this product and the
                helpful blog at Fera. Thank You.
              </p>
              <p class="s4tbx-txt2">- Laura C.</p>
            </li>
            <li>
              <img src="images/t1.png" alt="" class="s6timg" />
              <img src="images/stars.png" alt="" class="s4tstars" />
              <p class="s4tbx-hding">Verified Purchase</p>
              <p class="s4tbx-hding2">“I’ve tried many products”</p>
              <p class="s4tbx-txt1">
                Great product. My skin feels amazing. I’m 58 years old so I’ve
                tried many products and I have to say I’m sold on everything
                Fiera.
              </p>
              <p class="s4tbx-txt2">- Debra N.</p>
            </li>
            <li>
              <img src="images/t2.png" alt="" class="s6timg" />
              <img src="images/stars.png" alt="" class="s4tstars" />
              <p class="s4tbx-hding">Verified Purchase</p>
              <p class="s4tbx-hding2">“Look 10 years younger”</p>
              <p class="s4tbx-txt1">
                Absolutely wonderful. I am 64. My husband said your product made
                me look 8 years younger! Thank you.
              </p>
              <p class="s4tbx-txt2">- Lizzy L.</p>
            </li>
          </ul>

          <div class="s-1btnbx s6btnbx">
            <a href="javascript:void(-2)" class="s5btn orderBtn">Shop Now</a>
            <p class="btntxt">28-Day Risk-Free Money-Back Guarantee</p>
          </div>
        </div>
      </div>

      <div class="sec5 flt">
        <div class="container bdinpad">
          <p class="bdhding green">Core Values</p>
          <ul class="s5list dsplay">
            <li>
              <img src="images/s5icon1.png" alt="" />
              Produced in <br />the USA
            </li>
            <li>
              <img src="images/s5icon2.png" alt="" />
              Non <br />GMO
            </li>
            <li>
              <img src="images/s5icon3.png" alt="" />
              Cruelty <br />Free
            </li>
            <li>
              <img src="images/s5icon4.png" alt="" />
              Paraben <br />Free
            </li>
          </ul>
        </div>
      </div>

      <div class="sec6 flt">
        <div class="container bdinpad">
          <p class="bdhding green">
            Fièra Customers<br />
            Are Making A Difference!
          </p>
          <p class="bdfont s6txt">
            With every purchase, we automatically donate a meal to a person in
            need.
          </p>
          <img src="images/s6img.png" alt="" class="s8img max" />
        </div>
      </div>

      <div class="head-band1 flt">
        <div class="container bdinpad">
          <p class="bdhding yellow">
            98% Satisfaction <br class="show-767" />On All Our Products
          </p>
          <p class="head-band1-txt bdfont">
            If you’re not 100% satisfied, you don’t pay. We offer a no hassle <strong
              >30-day money back guarantee</strong
            > on our <strong>Fièra Multi-Effect Neck + Décolletage Cream</strong
            >
            so you can try it risk&nbsp;free.
          </p>
        </div>
      </div>

      <div class="sec7 flt">
        <div class="container bdinpad">
          <div class="s7lft">
            <p class="s7lft-hding">
              <span>About Us:</span><br />
              The Fiéra Promise
            </p>
          </div>
          <div class="s7rgt">
            <p class="bdfont">
              Fièra is not your average beauty line. We offer the highest
              quality products with unstoppable results. Our products focus on
              delivering innovative science, quality, and convenience. Not just
              a beauty brand, Fièra is committed to supporting our community
              through our partnerships with Food Rescue US and Second Harvest by
              donating a portion of our sales to help feed those in need.
            </p>
            <a href="javascript:void(-2)" class="s9btn orderBtn">Shop Now</a>
          </div>
        </div>
      </div>

      <div class="head-band2 flt">
        <div class="container bdinpad">
          <p class="bdhding white">Frequently Asked Questions</p>
        </div>
      </div>

      <div class="sec8 flt">
        <div class="container bdinpad">
          <div id="accordion">
            <h1>WHERE ARE FIÈRA PRODUCTS MADE?</h1>
            <div id="acc-cont">
              <div class="accord-txt bdfont">
                Our products are all proudly formulated and produced in the USA.
              </div>
            </div>

            <h1>WHAT IS YOUR RETURN POLICY?</h1>
            <div>
              <div class="accord-txt bdfont">
                We have a 28-day full money back return policy. Simply mail the
                products to either address:
                <ul class="accord-list">
                  <li>
                    USA: Fiera Cosmetics PO Box 3333, Buffalo, NY, 14240-3335
                  </li>
                  <li>
                    Canada: Fiera Cosmetics PO Box 1210 Willowdale, ON, M3J 0L3
                  </li>
                </ul>
                When returning any products please ensure to include your full name,
                and order number on the outside of the package. Your order number
                can be found on the packing slip or on the order confirmation email
                we sent to you. Please ensure the information provided is the same
                credentials that were used when placing your order. This allows us
                to associate the returned product with the appropriate account.<br
                /><br />

                As soon as we receive the return, we will process the refund
                right away. All refunds will go back to the original form of
                payment. Once the refund is processed, some banks can take up to
                5-10 business days for the refund to reflect on your credit card
                statement.<br /><br />

                Customers are responsible for the cost of return shipping.
              </div>
            </div>

            <h1>CAN I PURCHASE FIÈRA PRODUCTS IN RETAIL STORES?</h1>
            <div>
              <div class="accord-txt bdfont">
                We made the decision to not put our products in retail outlets
                and instead sell only to our customers directly online. Retail
                stores take very large margins and charge a premium for the top
                shelf space. Consumers get promoted products that paid the most
                money to be there versus being promoted the products that
                deliver the best results. We let our customer reviews do our
                selling for us and instead of buying shelf space, we take a
                portion of every sale donate it to help feed people in need
                through our partnerships with Food Rescue US and Second Harvest.
              </div>
            </div>

            <h1>WHERE DO YOUR PRODUCTS SHIP FROM?</h1>
            <div>
              <div class="accord-txt bdfont">
                We ship to our US customers daily from Buffalo, NY and to our
                Canadian customers daily from Toronto, ON.
              </div>
            </div>

            <h1>HOW LONG DOES IT TAKE TO SHIP?</h1>
            <div>
              <div class="accord-txt bdfont">
                In the US we use USPS First Class Mail and in Canada we use
                Canada Post for all our orders. We ship our orders next business
                day and barring any carrier delays most orders arrive within 0-4
                business days.
              </div>
            </div>

            <h1>WHAT INGREDIENTS ARE IN THE NECK CREAM?</h1>
            <div>
              <div class="accord-txt bdfont">
                Water (Aqua), Caprylic/Capric Triglyceride, Squalane, Phenyl
                Trimethicone Cetyl Alcohol, Glycerin, Glycolic Acid, Glyceryl
                Stearate, Canola Oil, Hydrogenated Castor Oil, Butyrospermum
                Parkii (Shea Butter), Bis-Diglyceryl Polyacyladipate-4, Sorbitan
                Stearate, Sodium Hyaluronate, PEG-102 Stearate, Stearamidopropyl
                Dimethylamine, Silica, Glycosaminoglycans, Zea Mays (Corn)
                Starch, Sodium Hydroxide, Camellia Sinensis Leaf Extract,
                Xanthan Gum, Magnesium Aluminum Silicate, Cellulose Gum,
                Hydroxyethylcellulose, Tocopheryl Acetate, Ascorbyl Palmitate,
                Sodium Hydroxide, Cholesterol, Geranium Maculatum Oil, Salix
                Alba (Willow) Bark Extract, Caprylyl Glycol, Phenoxyethanol,
                Potassium Sorbate, Hexylene Glycol, Tetrasodium EDTA.
              </div>
            </div>

            <h1>HOW DO I USE IT?</h1>
            <div>
              <div class="accord-txt bdfont">
                Morning and night, after cleansing and applying any serums,
                apply a pearl size to the neck and chest, gently smoothing on in
                an upward motion
              </div>
            </div>

            <h1>WILL IT CLOG MY PORES AND MAKE ME BREAK OUT?</h1>
            <div>
              <div class="accord-txt bdfont">
                Our products are non-comedogenic and have high quality
                ingredients like hyaluronic acid which is light, hydrates skin
                and doesn't clog pores, making it much less likely that you'll
                break out.
              </div>
            </div>

            <h1>DO YOU TEST ON ANIMALS?</h1>
            <div>
              <div class="accord-txt bdfont">
                Absolutely not! None of our products are ever tested on animals.
              </div>
            </div>

            <h1>DO YOU GIVE SAMPLES?</h1>
            <div>
              <div class="accord-txt bdfont">
                Unfortunately, due to the high cost of shipping and packing, we
                do not have samples but we do however offer a full 28 day money
                back guarantee. If for whatever reason you aren't satisfied you
                can return any of our products for a full refund.
              </div>
            </div>
          </div>
          <div class="s-1btnbx s6btnbx">
            <a href="javascript:void(-2)" class="s5btn orderBtn">Shop Now</a>
            <p class="btntxt">28-Day Risk-Free Money-Back Guarantee</p>
          </div>
          <ul class="s8list dsplay">
            <li><img src="images/s8seal1.png" alt="" /></li>
            <li><img src="images/s8seal2.png" alt="" /></li>
            <li><img src="images/s8seal3.png" alt="" /></li>
            <li><img src="images/s8seal4.png" alt="" /></li>
            <li><img src="images/s8seal5.png" alt="" /></li>
            <li><img src="images/s8seal6.png" alt="" /></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script type="text/javascript">
      $(document).ready(function (e) {
        jQuery("#accordion").accordion({
          collapsible: true,
          active: false,
          autoHeight: false,
          disabled: true
        });
        $("#accordion h2.ui-accordion-header:first-child").addClass("active");
        $("#acc-cont").css("display", "block");
        jQuery("#accordion h2.ui-accordion-header").click(function () {
          jQuery(this).next().slideToggle();
          if ($(this).hasClass("active")) {
            $(this).removeClass("active");
          } else {
            $(this).addClass("active");
          }
        });

        $(".orderBtn").click(function () {
          $("html, body").animate(
            {
              scrollTop: $("#order").offset().top
            },
            1999
          );
        });
      });
    </script>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
