---
import "./menuitems.json";
---

<ul class="mobilemenu">
  <li><a href="javascript:bookmarkscroll.scrollTo('home')">Home</a></li>
  <li>
    <a href="javascript:bookmarkscroll.scrollTo('expect')">What To Expect</a>
  </li>
  <li>
    <a href="javascript:bookmarkscroll.scrollTo('ingredients')"
      >Key Ingredients</a
    >
  </li>
  <li><a href="javascript:bookmarkscroll.scrollTo('top')">Top 5</a></li>
</ul>
